<component name="ArtifactManager">
  <artifact type="exploded-war" name="springTest02:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springTest02_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springTest02/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springTest02" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.18.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.3.2" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.6" />
          <element id="library" level="project" name="Maven: org.springframework:springloaded:1.2.4.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>